* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    background-color: hsl(217, 100%, 97%);
    height: 100vh;
    font-family: 'Ubuntu';
}

#data-box {
    background-color: white;
    border-radius: 10px;
    max-width: 700px;
}

#step-menu {
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 50vh;
    color: white;
}

.step-name {
    text-transform: uppercase;
    color: hsl(231, 11%, 63%);
    font-size: 12px;
    font-weight: bold;
}

.step-details {
    text-transform: uppercase;
    font-size: 12px;
}

.step-number {
    border: 1px solid hsl(206, 94%, 87%);
    border-radius: 50%;
    font-size: 16px;
}

.selected-step-bullet {
    color: black;
    background-color: hsl(206, 94%, 87%);
    font-weight: bold;
}

h1,
label {
    color: hsl(213, 96%, 18%);
}

h1 {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
}

#right-side-content {
    position: relative;
}

#next-step-button {
    background-color: hsl(213, 96%, 18%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-weight: bold;
}

#go-back-button {
    background: none;
    border: none;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

#buttons-menu {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
}

p {
    color: gray;
}

input:focus {
    font-weight: bold;
    border-color: hsl(243, 100%, 62%);
    outline: hsl(243, 100%, 62%);
}

span {
    font-weight: bold;
    font-size: 12px;
}

.input-warning {
    border-color: rgb(177, 24, 24);
}

.plan-card {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.plan-name {
    margin-top: 30px;
    color: hsl(213, 96%, 18%);
    margin-bottom: none;
    font-weight: bolder;
}

.plan-price {
    color: gray;
    font-size: 12px;
}

#toggle-plan-container {
    background-color: hsl(231, 100%, 99%);
    padding: 10px;
    border-radius: 50px;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

#toggle-month-year {
    background-color: hsl(213, 96%, 18%);
    width: 40px;
    padding: 5px;
    height: 25px;
    border-radius: 50px;
    margin: 0 10px;
    position: relative;
}

#switch-month-year {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    transition: all 1s linear;
}


.float-right {
    transform: translateX(15px);
}

.selected-plan-choices {
    color: hsl(213, 96%, 18%);
}

.selected-plan {
    background-color: hsl(231, 100%, 99%);
    border: 1px solid hsl(243, 100%, 62%) !important;
}

.addon-name {
    color: hsl(213, 96%, 18%);
}

.addon-details {
    font-size: 12px;
}

.addon-price {
    font-size: 12px;
    color: hsl(243, 100%, 62%);
}

.addon-option {
    border: 1px solid hsl(231, 11%, 63%);
    margin: 3px 0;
    border-radius: 10px;
}

.addon-option:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: hsl(243, 100%, 62%);
    transform: scale(2);
}

#change-plan {
    color: hsl(231, 11%, 63%);
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
}

#summary-info {
    width: 90%;
    font-size: 12px;
    font-weight: bold;
    background-color: hsl(230, 17%, 93%);
    border-radius: 10px;
}

#plan-total-price {
    color: hsl(213, 96%, 18%);
}

hr {
    width: 70%;
}

#selected-addon-name {
    color: hsl(231, 11%, 63%);
    font-weight: normal;
}

#selected-addon-price {
    color: hsl(213, 96%, 18%);
    font-weight: normal;
}

#summary-plan,
#summary-addons,
#summary-total,
#total-info {
    width: 90%;
}

#total-price {
    color: hsl(243, 100%, 62%);
    font-size: 14px;
    font-weight: bold;
}

#total {
    color: hsl(231, 11%, 63%);
    font-weight: normal;
    font-size: 12px;
}

#thank-you-image {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 767px) {
    #step-menu {
        background-image: url('./assets/images/bg-sidebar-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100%;
        color: white;
        position: absolute;
        top: 0;
        padding: 2vh;
    }

    .menu-step1,
    .menu-step2,
    .menu-step3,
    .menu-step4 {
        display: none;
    }

    .step-number {
        transform: scale(2);
    }

    #step-container {
        gap: 30px;
    }

    body {
        height: auto;
    }

    #right-side-content {
        position: absolute;
        top: 200px;
        width: 100vw;
        padding: 0;
        height: calc(100vh - 200px) !important;
    }

    #steps {
        width: 90vw;
    }

    #step1,
    #step2,
    #step3,
    #step4,
    #step5 {
        background-color: white;
        border-radius: 10px;
        padding: 40px 15px;
    }

    #buttons-menu {
        position: absolute;
        bottom: 0;
        background-color: white;
        padding: 30px;
        width: 100vw;
    }

    label {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 40px;
    }

    .step-description {
        font-size: 25px;
    }

    input {
        padding: 15px;
    }
}